<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/site.css" />
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    @Html.Sitecore().Placeholder("head")
</head>
<body>
    @Html.Sitecore().Placeholder("body")

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
