<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=(local);Initial Catalog=Sandbox_Core;User ID=coreuser;Password=VlRsTLfDk536ntJLTMOt" />
  <add name="security" connectionString="Data Source=(local);Initial Catalog=Sandbox_Core;User ID=securityuser;Password=IGlpA4cQei5rl3ZCCOil" />
  <add name="master" connectionString="Data Source=(local);Initial Catalog=Sandbox_Master;User ID=masteruser;Password=CWm02RxLOHCELLuUeSwy" />
  <add name="web" connectionString="Data Source=(local);Initial Catalog=Sandbox_Web;User ID=webuser;Password=uKXp9lqSIxWmk7LwWhVK" />
  <add name="messaging" connectionString="Data Source=(local);Initial Catalog=Sandbox_Messaging;User ID=messaginguser;Password=sxKJdpN2Pz7xZclsdB0O" />
  <add name="xdb.marketingautomation" connectionString="Data Source=(local);Initial Catalog=Sandbox_MarketingAutomation;User ID=marketingautomationuser;Password=8FO0d8A1twN1zY4xaNQJ" />
  <add name="xdb.processing.pools" connectionString="Data Source=(local);Initial Catalog=Sandbox_Processing.Pools;User ID=poolsuser;Password=0V02mLuGraO7GKvvT7dT" />
  <add name="xdb.referencedata" connectionString="Data Source=(local);Initial Catalog=Sandbox_ReferenceData;User ID=referencedatauser;Password=qyqQn4aANU1faiiBN6bo" />
  <add name="xdb.processing.tasks" connectionString="Data Source=(local);Initial Catalog=Sandbox_Processing.Tasks;User ID=tasksuser;Password=tdEKmYjif0CKVCoRJMue" />
  <add name="experienceforms" connectionString="Data Source=(local);Initial Catalog=Sandbox_ExperienceForms;User ID=formsuser;Password=XROo5eVXhquQAsutfWsO" />
  <add name="exm.master" connectionString="Data Source=(local);Initial Catalog=Sandbox_EXM.Master;User ID=exmmasteruser;Password=GJlMUyM4lThON405Bsa2" />
  <add name="reporting" connectionString="Data Source=(local);Initial Catalog=Sandbox_Reporting;User ID=reportinguser;Password=P7pTxcafkPCQuNwYFD1y" />
  <add name="sitecore.reporting.client" connectionString="https://Sandboxxconnect.dev.local" />
  <add name="sitecore.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=4ACD09B9E8F091FE18E83F842A979038999D0D60" />
  <add name="solr.search" connectionString="https://localhost:8983/solr" />
  <add name="sitecoreidentity.secret" connectionString="9TOENKBqrAob6mW2YC3zMHid7G5GFrvbWo26gNxdD3Fh6HPKgcfFrhTU8tuxnHESmkE4I5vL2STmxxQe7E7eVj1hndNDeEZytexX" />
  <add name="xconnect.collection" connectionString="https://Sandboxxconnect.dev.local" />
  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=4ACD09B9E8F091FE18E83F842A979038999D0D60" />
  <add name="xdb.marketingautomation.operations.client" connectionString="https://Sandboxxconnect.dev.local" />
  <add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=4ACD09B9E8F091FE18E83F842A979038999D0D60" />
  <add name="xdb.marketingautomation.reporting.client" connectionString="https://Sandboxxconnect.dev.local" />
  <add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=4ACD09B9E8F091FE18E83F842A979038999D0D60" />
  <add name="xdb.referencedata.client" connectionString="https://Sandboxxconnect.dev.local" />
  <add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=4ACD09B9E8F091FE18E83F842A979038999D0D60" />
  <add name="PackageManagementServiceUrl" connectionString="https://updatecenter.cloud.sitecore.net/" />
  <add name="EXM.CryptographicKey" connectionString="0x4259426758965540278524576663329684014912476573337186767208987721" />
  <add name="EXM.AuthenticationKey" connectionString="0x0898151948700309858142067950652845575375909521532922686926749883" />
</connectionStrings>