<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="core" connectionString="Data Source=#{Database.Server};Initial Catalog=#{Database.Prefix}_Core;User ID=#{Database.Username};Password=#{Database.Password}" />
  <add name="master" connectionString="Data Source=#{Database.Server};Initial Catalog=#{Database.Prefix}_Master;User ID=#{Database.Username};Password=#{Database.Password}" />
  <add name="web" connectionString="Data Source=#{Database.Server};Initial Catalog=#{Database.Prefix}_Web;User ID=#{Database.Username};Password=#{Database.Password}" />
  <add name="sessions" connectionString="user ID=#{Database.Username};Password=#{Database.Password};data source=#{Sessions.Server};database=Sitecore_Sitecore.Sessions" />
  <add name="exm.master" connectionString="Data Source=#{Database.Server};Initial Catalog=#{Database.Prefix}_EXM.Master;User ID=#{Database.Username};Password=#{Database.Password}" />
  <add name="reporting" connectionString="Data Source=#{Database.Server};Initial Catalog=#{Database.Prefix}_Reporting;User ID=#{Database.Username};Password=#{Database.Password}" />
  <add name="xdb.processing.tasks" connectionString="Data Source=#{Database.Server};Initial Catalog=#{Database.Prefix}_Processing.Tasks;User ID=#{Database.Username};Password=#{Database.Password}" />
  <add name="experienceforms" connectionString="Data Source=#{Database.Server};Initial Catalog=#{Database.Prefix}_ExperienceForms;User ID=#{Database.Username};Password=#{Database.Password}" />
  <add name="messaging" connectionString="Data Source=#{Database.Server};Initial Catalog=#{Database.Prefix}_Messaging;User ID=#{Database.Username};Password=#{Database.Password}" />
  <add name="xdb.processing.pools" connectionString="Data Source=#{Database.Server};Initial Catalog=#{Database.Prefix}_Processing.Pools;User ID=#{Database.Username};Password=#{Database.Password}" />
  <add name="xdb.referencedata" connectionString="Data Source=#{Database.Server};Initial Catalog=#{Database.Prefix}_ReferenceData;User ID=#{Database.Username};Password=#{Database.Password}" />
  <add name="xdb.marketingautomation" connectionString="Data Source=#{Database.Server};Initial Catalog=#{Database.Prefix}_MarketingAutomation;User ID=#{Database.Username};Password=#{Database.Password}" />
  <add name="xconnect.collection" connectionString="#{XConnect.Url}" />
  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=#{XConnect.Thumbprint}" />
  <add name="xdb.marketingautomation.operations.client" connectionString="#{XConnect.Url}" />
  <add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=#{XConnect.Thumbprint}" />
  <add name="xdb.marketingautomation.reporting.client" connectionString="#{XConnect.Url}" />
  <add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=#{XConnect.Thumbprint}" />
  <add name="xdb.referencedata.client" connectionString="#{XConnect.Url}" />
  <add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=#{XConnect.Thumbprint}" />
  <add name="solr.search" connectionString="#{Solr.Url}" />
  <add name="PackageManagementServiceUrl" connectionString="https://updatecenter.cloud.sitecore.net/" />
  <add name="EXM.CryptographicKey" connectionString="#{EXM.CryptographicKey}" />
  <add name="EXM.AuthenticationKey" connectionString="#{EXM.AuthenticationKey}" />
</connectionStrings>