<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=.;Initial Catalog=RobertsHabitat_Core;User ID=sitecore;Password=Sitecore1!" />
  <add name="master" connectionString="Data Source=.;Initial Catalog=RobertsHabitat_Master;User ID=sitecore;Password=Sitecore1!" />
  <add name="web" connectionString="Data Source=.;Initial Catalog=RobertsHabitat_Web;User ID=sitecore;Password=Sitecore1!" />
  <add name="sessions" connectionString="user ID=sitecore;password=12345;data source=.\SQL2016;database=Sitecore_Sitecore.Sessions" />
  <add name="exm.master" connectionString="Data Source=.;Initial Catalog=RobertsHabitat_EXM.Master;User ID=sitecore;Password=Sitecore1!" />
  <add name="reporting" connectionString="Data Source=.;Initial Catalog=RobertsHabitat_Reporting;User ID=sitecore;Password=Sitecore1!" />
  <add name="xdb.processing.tasks" connectionString="Data Source=.;Initial Catalog=RobertsHabitat_Processing.Tasks;User ID=sitecore;Password=Sitecore1!" />
  <add name="experienceforms" connectionString="Data Source=.;Initial Catalog=RobertsHabitat_ExperienceForms;User ID=sitecore;Password=Sitecore1!" />
  <add name="messaging" connectionString="Data Source=.;Initial Catalog=RobertsHabitat_Messaging;User ID=sitecore;Password=Sitecore1!" />
  <add name="xdb.processing.pools" connectionString="Data Source=.;Initial Catalog=RobertsHabitat_Processing.Pools;User ID=sitecore;Password=Sitecore1!" />
  <add name="xdb.referencedata" connectionString="Data Source=.;Initial Catalog=RobertsHabitat_ReferenceData;User ID=sitecore;Password=Sitecore1!" />
  <add name="xdb.marketingautomation" connectionString="Data Source=.;Initial Catalog=RobertsHabitat_MarketingAutomation;User ID=sitecore;Password=Sitecore1!" />
  <add name="xconnect.collection" connectionString="https://RobertsHabitat.xconnect" />
  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=C0BC901DE6C788EFCA927AAD2EE19226A74ADBDA" />
  <add name="xdb.marketingautomation.operations.client" connectionString="https://RobertsHabitat.xconnect" />
  <add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=C0BC901DE6C788EFCA927AAD2EE19226A74ADBDA" />
  <add name="xdb.marketingautomation.reporting.client" connectionString="https://RobertsHabitat.xconnect" />
  <add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=C0BC901DE6C788EFCA927AAD2EE19226A74ADBDA" />
  <add name="xdb.referencedata.client" connectionString="https://RobertsHabitat.xconnect" />
  <add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=C0BC901DE6C788EFCA927AAD2EE19226A74ADBDA" />
  <add name="solr.search" connectionString="https://localhost:8985/solr" />
  <add name="PackageManagementServiceUrl" connectionString="https://updatecenter.cloud.sitecore.net/" />
  <add name="EXM.CryptographicKey" connectionString="0x0000000000000000000000000000000000000000000000000000000000000000" />
  <add name="EXM.AuthenticationKey" connectionString="0x0000000000000000000000000000000000000000000000000000000000000000" />
</connectionStrings>