@using Sitecore.Foundation.Helpers
@using Synthesis.Mvc.Extensions
@model Sitecore.Feature.Media.Model.ItemListingRenderingModel
@{
    if (!Model.ListingItems.HasAny())
    {
        return;
    }
}

<div class="row">
    @foreach (var listingItem in Model.ListingItems)
    {
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                @using (listingItem.HeaderLink.RenderWithBody(Html))
                {
                    @listingItem.Image.Render("card-img-top")
                }
                <div class="card-body">
                    <h4 class="card-title">
                        @using (listingItem.HeaderLink.RenderWithBody(Html))
                        {
                            @listingItem.HeaderText.Render()
                        }
                    </h4>
                    <p class="card-text">
                        @listingItem.BodyText.Render()
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
            </div>
        </div>
    }
</div>