<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <synthesis>
      <providers>
        <generatorParametersProvider type="Synthesis.Configuration.ConfigurationGeneratorParametersProvider, Synthesis">
          <UseTemplatePathForNamespace>false</UseTemplatePathForNamespace>
        </generatorParametersProvider>
      </providers>
    </synthesis>
  </sitecore>
</configuration>