<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site name="sandbox" patch:after="site[@name='modules_website']"
            hostName="sandboxsc.dev.local"
            targetHostName="sandboxsc.dev.local"
            database="master"
            rootPath="/sitecore/content/sites/sandbox"
            startItem="/home"
            scheme="http" />
    </sites>
  </sitecore>
</configuration>