@using Sitecore.Feature.Scaffolding.Model
@using Sitecore.Foundation.Helpers
@using Synthesis.Mvc.Extensions
@model MainNavigationRenderingModel

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">@Model.RenderingItem.IconText.Render()</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            @if (Model.NavigationItems.HasAny())
            {
                <ul class="navbar-nav ml-auto">
                    @foreach (var navItem in Model.NavigationItems)
                    {
                        <li class="nav-item active">
                            @using (navItem.Link.RenderWithBody(Html, "nav-link"))
                            {
                                @navItem.LinkText.Render()
                            }
                        </li>
                    }
                </ul>
            }
            
        </div>
    </div>
</nav>