<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Frames" description="Feature Frames" dependencies="Foundation.*" extends="Helix.Feature">
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>