<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net471" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net471" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net471" />
  <package id="Rainbow.Core" version="2.1.1" targetFramework="net471" />
  <package id="Rainbow.Storage.Yaml" version="2.1.1" targetFramework="net471" />
  <package id="Sitecore.ContentSearch" version="9.2.0" targetFramework="net472" />
  <package id="Sitecore.ContentSearch.Linq" version="9.2.0" targetFramework="net472" />
  <package id="Sitecore.Kernel" version="9.2.0" targetFramework="net472" />
  <package id="Sitecore.Mvc" version="9.2.0" targetFramework="net472" />
  <package id="Synthesis" version="9.1.0.2" targetFramework="net472" />
  <package id="Synthesis.Core" version="9.1.0.2" targetFramework="net472" />
  <package id="Synthesis.Mvc" version="9.1.0.2" targetFramework="net472" />
  <package id="Synthesis.Mvc.Core" version="9.1.0.2" targetFramework="net472" />
  <package id="Synthesis.Solr" version="9.1.0.2" targetFramework="net472" />
  <package id="Synthesis.Solr.Core" version="9.1.0.2" targetFramework="net472" />
  <package id="Transitus.Rainbow" version="1.0.4.0" targetFramework="net471" />
</packages>